MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_URI=mongodb://root:example@mongo:27017/orders?authSource=admin

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=data_pipeline_topic

API_URL=https://example.com/resources/order
API_KEY=your_api_key_here
FETCH_INTERVAL_MS=60000